body{
    background: #000;
    color: #aaa;
    font-family: sans-serif;
    margin: 0;
}
.buttons{
    color: #000;
    font-size: 150%;
    height: 65px;
    width: 65px;
}
.color0{
    background: #C83232;
}
.color1{
    background: #262;
}
.color2{
    background: #000;
}
input{
    background: #000;
    color: #aaa;
    width: 75px;
}
input[type=button]:not([disabled]),
input[type=range],
select:not([disabled]){
    cursor: pointer;
}
#reset-button,
#settings-button,
#start-button{
    width: auto;
}
#settings-span{
    display: none;
}
.settings-td{
    padding: 9px;
    text-align: left;
    width: 50%;
}
#start-button{
    font-size: 123%;
}
table{
    border-collapse: collapse;
    text-align: center;
}
