.buttons{
    color: #000;
    font-size: 150%;
    height: 65px;
    width: 65px;
}
body{
    margin: 0;
}
.color0{
    background: #C83232;
}
.color1{
    background: #262;
}
.color2{
    background: #000;
}
input{
    width: 75px;
}
.settings-td{
    padding: 9px;
    text-align: left;
    width: 50%;
}
table{
    border-collapse: collapse;
    text-align: center;
}
